/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
.container {
	width: auto;
}

header {
	background-color: #333333;
	color: #00ff00;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

header div em {
	font-size: 12px;
	padding-right: 250px;
	padding-left: 20px;
	word-spacing: 3px;
}

header div h1 {
	display: inline;
	padding-right: 10px;
	font-weight: bold;
}

img[src$=".gif"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.instructions-content {
	float: left;
	text-align: left;
	width: 500px;
	margin-left: 50px;
}

.instructions-wrapper {
	border: 5px solid black;
	margin: 50px 100px;
}

.instructions-wrapper img {
	float: right;
	width: 250px;
	height: auto;
	margin: 30px 30px 30px 0;
}

.about-me {
	background: #0000ff;
	color: white;
}

.about-me img {
	float: left;
	width: 300px;
	height: auto;
	border: 2px solid white;
	margin: 50px 20px 50px 70px;
}

.about-me p {
	margin-right: 50px;
}

.about-me p span {
	font-style: italic;
	font-weight: bold;
	color: #ffff00;
	word-spacing: 3px;
}

.about-me h2 {
	padding-top: 50px;
}

section:nth-last-of-type(2) {
	text-align: center;
	align-content: center;
	padding-bottom: 35px;
}

section:nth-last-of-type(2) h2 {
	display: inline-block;
	text-align: right;
}

section:nth-last-of-type(2) table {
	margin: 0 auto;
	width: 66%;
	text-align: left;
}

section:nth-last-of-type(2) tr {
	background: #333333;
	color: #00ff00;
}

section:nth-last-of-type(2) th {
	padding: 10px 0 10px 10px;
}

section:nth-last-of-type(2) td {
	padding: 10px 0 10px 10px;
}

section:nth-last-of-type(1) {
	background: #333333;
	padding: 20px 0;
}

section:nth-last-of-type(1) h2 {
	color: lime;
}

.form-wrapper {
	margin: 0 auto;
	background: #006400;
	width: 66%
}

label {
	color: lime;
	display: block;
	margin: 10px 0 10px 25px;
}

input {
	display: block;
	margin-left: 25px;
}

textarea {
	margin-left: 25px;
}

